<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Problem Statements</title>
</head>
<body>
    <div>
        <p>
            <a href="q1">Tabular preview of the classroom, subjects being taught in those classrooms, teachers using the same.</a>
        </p>

        <p>
            <a href="q2">Search option to show a list of students attending a teacher’s class (teacher can be searched by name)</a>
        </p>

        <p>
            <a href="q3">No of students taught by teachers earning more than 1 Lac per month and the sum of their salaries.</a>
        </p>

        <p>
            <a href="q4">No of students, No of teachers, and total hours required for subjects that are taught by more than 1 teacher.</a>
        </p>
    </div>
</body>
</html>